html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 80px;
  margin: 0px;
}

h2 {
  font-size: 60px;
  color: white;
  border-bottom: 2px solid white;
  margin: 0 auto 6rem auto;
  max-width: 1000px;
}

h3 {
  font-size: 60px;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 30px;
}

.navbar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.item {
  color: white;
  text-align: center;
  padding: 15px 10px;
  margin: 5px 10px 5px 0px;
  font-size: 18px;
}

.logo {
  font-size: 25px;
  flex-grow: 1;
  text-align: left;
}

.btn {
  padding: 10px 15px;
  color: white;
}

.bgblue {
  background-color: rgba(0, 128, 255, 255);
}

.bggrey {
  background-color: rgba(128, 128, 128, 255);
}

a.bggrey {
  font-size: 25px;
}

.borderblue {
  border: 1px solid rgba(0, 128, 255, 255);
}

.welcome-section {
  background-image: url("./images/Bg1.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white {
  color: white;
}

.italic {
  font-style: italic;
}

.project-section {
  width: 100%;
  height: 100%;
  background-image: url("./images/Bg2.jpg");
  background-size: 100% 100%;
  text-align: center;
  padding: 80px 0;
}

.project-item {
  background-color: black;
  border-radius: 10px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-img {
  width: 100%;
}

.project-title {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
}

.contact-section {
  text-align: center;
  background-image: url(./images/Bg3.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  font-size: 22px;
  display: inline-block;
}

.contact-item {
  display: inline-block;
  margin: 0px 10px;
}

.footer-section {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.footer-text {
  font-size: 18px;
  margin: 30px 20px;
}
