@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  position: relative;
  background: #e6eaf8;
  font-family: "Poppins";
  font-style: normal;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Merriweather";
  font-style: normal;
}

.header {
  padding: 0px 50px 50px 50px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 100px;
  position: absolute;
  width: 1213px;
  left: 193px;

  background: #ffffff;
  border-radius: 16px;
}

.searchBar {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("./img/magnifying\ glass.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

.toolBar {
  display: flex;
  justify-content: space-between;
}

.toolItem {
  padding: 16px;
}

.toolItem:hover {
  color: #ffffff;
  background: #849fff;
  border-radius: 8px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.card {
  display: flex;
  width: 25%;
  padding: 24px;
  border-radius: 16px;
  background-color: #fbfcff;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
  width: 97px;
  height: 97px;
}

.userinfo {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.userName {
  font-size: 18px;
  font-weight: 900;
  font-family: "Merriweather";
  font-style: normal;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 8px;
  margin: 2px;
}
